
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Management_Layout.cshtml";
}

<div class="jumbotron">
    <h1>ようこそ Management Page</h1>
    <p class="lead">You can manage Summary Report, Invoices, Payment, and Catalog here!</p>
</div>

<div class="LandingImgDiv">
    <img src="~/Content/Images/ManagementPhoto.jpg" class="LandingImg" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Summary Report</h2>
        <p>Get Test Result!</p>
        <p><a class="btn btn-primary" href="@Url.Action("SummaryReport", "Management")">Summary Report</a></p>
    </div>
    <div class="col-md-3">
        <h2>Invoices</h2>
        <p>Let's make a customer pay huh!?</p>
        <p><a class="btn btn-primary" href="@Url.Action("Invoices", "Management")">Invoices </a></p>
    </div>
    <div class="col-md-3">
        <h2>Payment</h2>
        <p>Let's see how much we earned!</p>
        <p><a class="btn btn-primary" href="@Url.Action("Payment", "Management")">Payment</a></p>
    </div>
    <div class="col-md-3">
        <h2>Catalog</h2>
        <p>Let's make the catalog!</p>
        <p><a class="btn btn-primary" href="@Url.Action("Catalog", "Management")">Catalog</a></p>
    </div>
</div>




