
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Lab_Layout.cshtml";
}

<h2>Lab Technician - Home</h2>

<p>
    @Html.ActionLink("Forecast Operations", "OperForecast")
</p>
<p>
    @Html.ActionLink("Schedule Test", "ScheduleTest")
</p>
<p>
    @Html.ActionLink("Update Test Results", "UpdateTest")
</p>

